<h1>Billboard: </h1>
<%# <p>Find me in app/views/billboards/show.html.erb</p> %>
<div class="ui card">
  <div class="content">
    <p class="header">
      <%= @billboard.name %>
    </p>
  </div>
  <%# If there are any songs, it will iterate through songs and print each title %>
  <%# if @song.any?%>
    <%@billboard.songs.each do |song|%>
    <p>Song: <%= song.name %></p>
    <%end%>
  <%#end%>
  <div class="extra content">
    <%= link_to 'Edit', edit_billboard_path(@billboard), class: "ui button blue" %> |
    <%= link_to 'Back', billboards_path, class: "ui button"%>
    <%= link_to 'Delete', billboard_path(@billboard), method: :delete, class: "ui button" %> 
  </div>
</div>
